<div class="answers">
    {{!-- the partial here is different then the post-info.handlebars. --}}
    {{!-- because the 'answers' array can't be deconstructed into an easily accesible variable name (because it's an array?), because array's don't have named properties like objects do --}}
    {{!-- we can use the keyword 'this' to refer to the parent object or array that's available in the context of the partial --}}
    {{!-- data that's passed to a template file is always part of 'this' but when dealing with objects, we can simply access the object properties directly (e.g. 'vote_count' instead of 'this.vote_count') --}}
    {{#each this}}
    <section class="answer">
        <div class="meta">
            {{!-- format_date is from the helpers file. we just have to reference the function because we passed the helpers.js file into 'server.js' at the line 'const hbs = exphbs.create({ helpers });' --}}
            {{!-- funcionally this works the same as 'format_date(created_at)' --}}
            {{user.username}} on {{format_date created_at}}
        </div>
        <div class="text">
            {{answer_text}}
        </div>
    </section>
    {{/each}}
</div>