<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTP-8">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <title>Incite</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="wrapper">
        <header>
 
            <nav class="nav">
                <div class="nav-item">
                    <a href="/">Incite</a>
                </div>
                <div class="nav-right">
                    {{#if loggedIn}}
                    <div class="nav-item">
                        <a href="/dashboard">dashboard</a>
                    </div>
                    <div class="nav-item">
                        <button id="logout" class="btn-no-style">logout</button>
                    </div>
                    {{else}}
                    <div class="nav-item">
                        <a href="/login">login / signup</a>
                    </div>
                    {{/if}}
                </div>
            </nav>
        </header>
        <main>
            {{!-- syntax for data that will be plugged in later --}}
            {{{ body }}}
        </main>
        <footer>
            Copyright © 2022 Gilberto Jesus Covarrubias Merino
        </footer>
    </div>
    {{!-- link to 'static' js file that handles logout button click --}}
    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</body>

</html>