{{!-- we will access this page through 'dashboard-routes.js' --}}
{{!-- <section>
    <h2>Ask A New Question</h2>
    <form class="new-post-form">
        <div>
            <label for="post-title">Title</label>
            <input type="text" id="post-title" name="post-title" />
        </div>
        <div>
            <label for="question">Question</label>
            <input id="question" name="question" />
        </div>
        <button type="submit" class="btn">Create</button>
    </form>
</section> --}}
{{#if posts.length}}
<section class="user-info">
    <div class="avatar-container">
        <img src="{{posts.0.user.avatar}}"> 
    </div>
    <div class="welcome-container">
        <h2>Welcome {{posts.[0].user.username}}!</h2>
    </div>
</section>

<section class="avatar-form-container">
    <form class="avatar-form" method="POST" action="/api/users/avatar" enctype="multipart/form-data">
        <div>
            <label for="avatar"><h2>Update Avatar</h2></label>
            <input type="file" name="avatar" accept="image/*">
        </div>
        <button type="submit" class="btn">Upload Avatar</button>  
    </form>
</section>
{{else}}
<section class="no-post-header">
    <h3>Make your first post to unlock all user features!</h3>
</section>
{{/if}}

<section class="dashboard-form">


    <div class="ask-question">
        <h2>Ask A New Question</h2>
    </div>

    <form class="new-post-form" method="POST" action="/api/posts">
        <div>
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" />
        </div>
        <div>
            <label for="question">Question:</label>
            {{!-- <input id="question" name="question" /> --}}
            <textarea id="question" name="question"></textarea>
        </div>
        {{!-- <div>
            <label for="postImage">Upload Image</label>
            <input type="file" name="postImage" accept="image/*/">
        </div> --}}
        <button type="submit" class="create-btn">Create</button>
    </form>

</section>

{{#if posts.length}}
<section class="dashboard-posts">
    <div class="your-questions">
        <h2>Your Questions</h2>
    </div>
    
    <ol>
        {{#each posts as |post|}}
        <li>
            {{> post-info post}}
            <div class="edit-page">
                <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit Question</a>
            </div>
        </li>
        {{/each}}
    </ol>
</section>
{{/if}}

{{!-- gives the handlebars access to the js file that allows us to add posts --}}
{{!-- <script src="/javascript/add-post.js"></script> --}}