<ol class="post-list">
    {{!-- #each is a handlebars helper that allows us to loop through arrays --}}
    {{!-- in this case we are looping through the { posts } object array we created in home-routes.js  --}}
    {{!-- any HTML code in between will be repeated for every item in 'posts' --}}
    {{!-- we then declare a variable name 'post' for each object in the array --}}
    {{#each posts as |post|}}
    <li>
        {{!-- to use a partial we use a '>' followed by the name of the partial file 'post-info' and the object we'll pass to the partial 'post' --}}
        {{> post-info post }}
    </li>
    {{/each}}
</ol> 