<section class="signup-wrapper">
    <div class="styled-container-login">
        <form class="signup-form">
            <div>
                <h2>Signup</h2>
            </div>
            <div>
                <label for="username-signup">username</label>
                <input type="text" id="username-signup" />
            </div>
            <div>
                <label for="email-signup">email:</label>
                <input type="text" id="email-signup" />
            </div>
            <div>
                <label for="password-signup">password:</label>
                <input type="password" id="password-signup" />
            </div>
            <div>
                <button type="submit">signup</button>
            </div>
            <div class="signup-login-link">
                <a href ="/login">Login instead!</a>
            </div>
            
        </form>
    </div> 

</section>
<script src="/javascript/sign-up.js"></script>
