@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

/* BEGIN ENTIRE PROJECT */
* {
  box-sizing: border-box;
}


body, html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: #333;
}

a {
  text-decoration:underline;
  color: #088fff;
  font-weight: bold;
  transition: color .1s;
}

a:hover {
  color: #69adff;
}

button {
  background-color: #0000ff;
  border: 0;
  padding: 1%;
  height: 42px;
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: bold;
  transition: background-color .1s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #0072fe;
}

textarea, input {
  padding: .5%;
  border-radius: 5px;
  border: 1px solid #8e0b0b;
}

textarea:focus, input:focus {
  outline: none;
  border: 1px solid #3486eb;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: #225ca3;
  font-size: 100%;
  font-weight: bold;
  transition: color .1s;
  margin-left: 16px;
}

.btn-no-style:hover {
  background: none;
  color: #3486eb;
}

.delete-post-btn {
  background-color: #d41414;
}

.delete-post-btn:hover {
  background-color: #ff643d;
}


/* END ENTIRE PROJECT */

/* BEGIN HEADER, NAV, AND MAIN */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 68px;
  width: 100%;
  position: absolute;
  top: 0;
  background-color: #ffff00;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.nav-right {
  display: flex;
  align-items: center;
}

.nav-item button {
  font-family: "Poppins", sans-serif;
  font-size: 1.25em;
  color: black;

}

.nav-item button:hover {
  color:#d41414;
}

.nav a {
  font-family: "Poppins", sans-serif;
  font-size: 1.25em;
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
  color: black
}

.nav a:hover {
  color:#d41414;
  transform: scale(1.5);
}

.nav-item {
  margin-left: 10px;
  margin-right: 10px;
}



.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 100%;
  position: relative;
  background-image: url("../src/incite-header-3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header h1 {
  font-size: 1em;
}

main {
  flex: 1;
  padding: 2% 4%;
  background-color: #fe4763;
}
/* END HEADER, NAV, AND MAIN */

/* BEGIN HOMEPAGE */
.home-avatar-container img {
  height: 75px;
  width: 75px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

.post-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  margin: 10px;
}

.post {
  margin-bottom: 10px;
  padding: 50px;
  background-color: #fdfdd0;
  border-radius: 66px;
}

.post-home {
  margin-bottom: 10px;
  padding: 30px;
  background-color: #fdfdd0;
  border-radius: 66px;  
}

.post-list {
  margin: 0;
  padding: 0;
}

.post-list-item {
  margin: 5px;
}

.post .title span {
  font-style: italic;
  font-size: 90%;
  color: #7d7d7d;
}

.post-home .title span {
  font-style: italic;
  font-size: 90%;
  color: #7d7d7d;
}
/* END HOMEPAGE */

/* BEGIN DASHBOARD */
.styled-container {
  background-color: #fe4763;
  border: 1px solid #8e0b0b;
  border-radius: 31px;
  width:fit-content;
  margin: 10px auto;
  padding: 73px 0;
  box-shadow: 10px 5px 5px #441515;
}

.styled-container-ask {
  background-color: #fe4763;
  border: 1px solid #8e0b0b;
  border-radius: 31px;
  margin: 70px auto;
  padding: 34px 0 73px 0;
  box-shadow: 10px 5px 5px #441515;
}

.styled-inner-container {
  justify-content: center;
}

.avatar-container img {
  height: 250px;
  width: 250px;
  object-fit: cover;
  border-radius: 50%;
}
.user-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
}

.avatar-form-container {
  justify-content: center;
  align-items: center;
}

.welcome-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.avatar-form h2 {
  margin-bottom: 10px;
  text-decoration: underline;
  text-decoration-color: #373737;
  text-decoration-thickness: 3px;
}

.avatar-form-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 30px; */
}

.avatar-form label {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* text-decoration: underline; */
  /* text-decoration-color: #fe002a;
  text-decoration-thickness: 3px; */
}

.avatar-form button {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 30px;
  margin-top: 20px;
  /* margin-bottom: 10px; */
}

.avatar-from div input {
  width: 100;
}

.no-post-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.dashboard-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.ask-question {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.ask-question h2 {
  text-decoration: underline;
  text-decoration-color: #373737;
  text-decoration-thickness: 3px;
}

.create-btn {
  width: 100%;
  margin-top: 20px;
}

.your-questions {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.your-questions h2 {
  text-decoration: underline;
  text-decoration-color: #373737;
  text-decoration-thickness: 3px;
}

.single-post {
  width: 80%;
}

.post-container .title {
  margin-bottom: 10px;
}

.meta {
  margin-bottom: 22px;
}

.new-post-form {
  width: 90%;
}

.new-post-form input {
  width: 100%;
  /* box-shadow */
  /* box-shadow: 5px 2px 5px #441515; */
}

.new-post-form textarea {
  width: 100%;
  height: 400px;
  /* box-shadow: 5px 2px 5px #441515; */
}

.edit-post-form {
  margin-bottom: 5%;
}

.edit-page {
  /* display: flex;
  margin: -30px 0px 20px 17px; */
}

.edit-page a {
  color:#088fff;

}

.edit-page a:hover {
  color:#69adff;
}

/* BEGIN SINGLE POST PAGE */
.single-post-container {
  margin: 20px;
}

.single-post-avatar-container {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  margin-top: 25px;
  margin-bottom: 10px;
}

.upvote-btn {
  /* background-color: #197d0f; */
  background-color: #12b203;
  transition: background-color .1s;
  width: 100px;
  height: 42px;
}

.upvote-btn:hover {
  background-color: #1f9c13;
}

.helpful-btn {
  background-color: #12b203;
  transition: background-color .1s;
  margin-top: 10px;
}

.helpful-btn:hover {
  background-color: #1f9c13;
}
  
.answer {
  padding: 50px;
  border-radius: 66px;
  margin-bottom: 1%;
  background-color: #fff5eb;
}

/* .answer:nth-child(odd) {
  background-color: #fff5eb;
} */


.upvote-btn {
  margin-top: 10px;
}

.answer-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fe4763;
  border: 1px solid #8e0b0b;
  border-radius: 31px;
  margin: 70px auto;
  padding: 19px 66px 1px 66px;
  width: 90%;
  box-shadow: 10px 5px 5px #441515;
  
}

.answer-form {
  justify-content: center;
  width: 100%;
  margin-bottom: 5%;
}

.answer-question {
  width: 100%;
  display: flex;
  justify-content: center;
}

.answer-form textarea {
  width: 100%;
  height: 500px;
}

.answer-form button {
  margin-top: 32px;
  width: 100%;
}

.answer-avatar-container img {
  height: 75px;
  width: 75px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
  margin-bottom: 10px;
}

.answer-question h2 {
  text-decoration: underline;
  text-decoration-color: #373737;
  text-decoration-thickness: 3px;
}

.answer .text {
  font-size: 90%;
  margin-bottom: 10px;
  opacity: .6;
}
/* END SINGLE-POST */

/* BEGIN EDIT-POST */
.back-to-dashboard {
  display: flex;
  justify-content: center;
}

.return-dash {
  font-size: 25px;
}
.styled-container-edit {
  background-color: #fe4763;
  border: 1px solid #8e0b0b;
  border-radius: 31px;
  margin: 70px auto;
  padding: 19px 66px 19px 66px;
  width: 90%;
  box-shadow: 10px 5px 5px #441515;
}

.edit-post-form {
  /* width: 90%; */
}

.edit-post-form input {
  width: 100%;
  /* box-shadow */
  /* box-shadow: 5px 2px 5px #441515; */
}

.edit-post-form textarea {
  width: 100%;
  height: 400px;
  /* box-shadow: 5px 2px 5px #441515; */
}

.edit-post {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.edit-post-header {
  display: flex;
  /* width: 100%; */
  justify-content: center;
  align-items: center;
}

.edit-post-header h2 {
  text-decoration: underline;
  text-decoration-color: #373737;
  text-decoration-thickness: 3px;
}

.edit-post-form input {
  width: 100%;
  height: 30px;
}

.edit-post-question {
  height: 450px;
}

.edit-post-form button {
  display: flex;
  width: 100%;
  margin-top: 69px;
  margin-bottom: -43px;
  padding: 10px;
  justify-content: center;
}
/* END EDIT-POST */

/* BEGIN LOGIN PAGE */
.login-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.styled-container-login {
  display: flex;
  flex-wrap: wrap;
  background-color: #fe4763;
  border: 1px solid #8e0b0b;
  border-radius: 31px;
  margin: 0px auto 178px auto;
  padding: 34px 18px 34px;
  box-shadow: 10px 5px 5px #441515;
}

.login-form {
  justify-content: center;
  width: 420px;
}

.login-form div h2 {
  display: flex;
  justify-content: center;
  text-decoration: underline;
  text-decoration-color: #373737;
  text-decoration-thickness: 3px;
}

.login-form div input {
  width: 420px;
}

.login-form button {
  width: 100%;
  margin-top: 20px;
}

.login-signup-links {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  
}

.login-signup-links a {
  color:#ffff00;
  font-size: 25px;
}

.login-signup-links a:hover {
  color:#d4d400;
}

/* END LOGIN PAGE */

/* BEGIN SIGNUP PAGE */
.signup-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.signup-form {
  width: 420px;
  justify-content: center;
}
.signup-form div h2 {
  display: flex;
  justify-content: center;
  text-decoration: underline;
  text-decoration-color: #373737;
  text-decoration-thickness: 3px;
}

.signup-form div input {
  width: 420px;
}

.signup-form button { 
  width: 100%;
  margin-top: 20px;
}

.signup-login-link {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.signup-login-link a {
  color:#ffff00;
  font-size: 25px;
}

.signup-login-link a:hover {
  color:#d4d400;
}
/* END SIGNUP PAGE */

/* BEGIN FOOTER */
footer {
  /* border-top: 1px solid #ccc; */
  font-family: "Poppins", sans-serif;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  background-color: #ffff00;
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
}
/* END FOOTER */